<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>生徒一覧</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css"/>
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<form class="col col-sm-8 col-md-7 col-lg-5" th:action="@{/confirm}" method="post">
				<table class="table table-bordered">
					<thead class="thead-light">
						<tr>
							<th scope="col"></th>
							<th scope="col">ID</th>
							<th scope="col">名前</th>
						</tr>
			    	</thead>
			    	<tbody>
						<tr th:each="student : ${students}" th:object="${student}">
							<td><input type="checkbox" th:field="${form.checked[__*{id}__]}"></td>
							<td th:text="*{id}"></td>
							<td th:text="*{name}"></td>
						</tr>
					</tbody>
				</table>
				<div th:if="${students.size()}" class="row justify-content-center">
					<button class="btn btn-primary">削除</button>
					<div th:if="${error}">
						<label th:text="${error}"></label>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>